# Tutorial de EDA
Dataset: FIFA

In [4]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Cargando el archivo commo dataframe
df_terro = pd.read_csv("Reporte_Delito_Terrorismo_Polic_a_Nacional.csv")

In [6]:
# Mostrando las dimensiones del dataframe
df_terro.shape

(3823, 6)

In [7]:
# Verificando los tipos de datos de las columnas
df_terro.dtypes

Departamento    object
Municipio       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
CANTIDAD         int64
dtype: object

In [8]:
# Imprimiendo los primeros 10 registros
df_terro.head(10)

,Departamento,Municipio,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,CANTIDAD
0,PUTUMAYO,MOCOA (CT),86001000,ARTEFACTO EXPLOSIVO/CARGA DINAMITA,05/01/2010,1
1,ARAUCA,TAME,81794000,ARTEFACTO INCENDIARIO,06/01/2010,1
2,META,VILLAVICENCIO (CT),50001000,GRANADA DE MANO,06/01/2010,1
3,ARAUCA,FORTUL,81300000,CILINDRO BOMBA,07/01/2010,1
4,META,URIBE,50370000,MINA ANTIPERSONA,11/01/2010,1
5,PUTUMAYO,MOCOA (CT),86001000,COMBUSTIBLE,13/01/2010,1
6,META,PUERTO RICO,50590000,MINA ANTIPERSONA,14/01/2010,1
7,VALLE,BUENAVENTURA,76109000,OLLA BOMBA,14/01/2010,1
8,ARAUCA,ARAUQUITA,81065000,ARTEFACTO EXPLOSIVO/CARGA DINAMITA,15/01/2010,1
9,META,URIBE,50370000,GRANADA DE MANO,15/01/2010,1

In [9]:
#Imprimiendo cuales fueron los departamentos mas afectados
df_terro["Departamento"].value_counts().index.tolist()[:3]

['ANTIOQUIA', 'NORTE DE SANTANDER', 'ARAUCA']

In [10]:
#Imprimiendo las armas mas comunes para cometer el delito
df_terro['ARMAS MEDIOS'].value_counts().idxmax()

'ARTEFACTO EXPLOSIVO/CARGA DINAMITA'

In [17]:
#Imprimiendo el mes mas comun para delitos
df_terro['FECHA HECHO'].value_counts()

10/08/2012    14
14/02/2020    10
31/03/2016    10
15/02/2020     9
16/07/2015     8
              ..
23/02/2015     1
20/02/2015     1
14/08/2011     1
16/02/2015     1
05/01/2010     1
Name: FECHA HECHO, Length: 2118, dtype: int64